body {
	color: #909090;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana;
	font-size: 11px;
	line-height: 15px;
	padding: 0;
	margin:0 auto;
	width:850px;
	}

a {text-decoration:none; padding:0; margin:0; }
a:link { color:#000; }
a:visited {color:#000;}
a:hover { color:#d6d6d6; }
a:active { 	color:#000; }
	
/* CONTENT START ------------------------------------------------------------------------- */
h1
{
	background-position: left;
	color: #000;
	letter-spacing: -1px;
	font-weight: normal;
	float: left;
	margin-top: 70px;
	margin-bottom: 35px;
}
h2
{
	background-position: left;
	color: #000;
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: -1px;
	margin-top: 26px;
}
#content_columnleft li
{
	font-family: "Segoe UI", Tahoma, Geneva, Verdana;
	font-size: 16px;
	margin-top: 4px;
}


#content{
	margin-top:1px;
	width:850px;
}
#content_columnleft{
	float:left;
	width:425px;
}
#content_columnright{
	margin-top: 170px;
	float:right;
	width:350px;
	font-size: 13px;
}
#title{
	font-size: 44px;
	letter-spacing: -1px;
	line-height: 76px;
}
#subtitle{
	font-size: 20px;
	line-height: 28px;
	margin-top: -10px;
}
#links{
	font-size: 24px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
}



/* CONTENT END_ ---------------------------------------------------------------------------- */
	

/* FOOTER START ---------------------------------------------------------------------------- */
#footer{
	float: left;
	width: 850px;
	padding: 10px 0 10px 0;
	border-top: 1px solid #ededed;
	margin-top: 35px;
	max-height: 85px;
	position: fixed;
	bottom: 0px;
	font-size: 14px;
}
#footer a {
	font-weight:bolder;
	}
/* FOOTER END ------------------------------------------------------------------------------ */

